.column {
    float: left;
    width: 25%;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}  

#left {
    left: 0%;
    background-color: deepskyblue;
    width: 20%;
    vertical-align: bottom;
}

#cb-container {
    position: absolute;
    width: 100%;
    top: 0%;
    bottom: 54%;
    background-color: white;
}

#chat {
    overflow-y: scroll;
    position: relative;
    height: 90%;
}

.chat-body {
    margin: 0.5em;
    word-wrap: break-word;
    width: 80%;
    overflow: hidden;
}

.time {
    text-align: left;
    text-decoration-color: indigo;
    text-size-adjust: 100px;
}

#text-box-container {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background: white;
    border: 1px solid black;
}

#text-box {
    position: absolute;
    width: 100%;
    background: white;
    height: 100%;
    align-content: center;
}

#incoming-vc {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 29%;
    background-color: lightblue;
}

#my-vc {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 4%;
}

#my-video, #incoming-video {
	width: 100%;
    height: 100%;
    padding: 0.5em;
    background-color: grey;
}

#option-row {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 4%;
    bottom: 0;
}

.option {
    position: absolute;
    width: 25%;
    height: 100%;
}

button#option-video.option {
    left: 0%;
}

button#option-audio.option {
    left: 25%;
}

button#option-deafen.option {
    left: 50%;
}

button#option-leave.option {
    left: 75%;
}

#middle {
    left: 20%;
    width: 50%;
    background-color: yellowgreen;
}